.page
    margin-top: 125px

    > h1
        text-align: center
        margin-bottom: 6rem

.about
    img
        width: 50%
        margin: 0 auto
        display: block

.tech-badges
    display: inline-block
    margin-left: 40px
    
    > img
        height: 20px
        width: auto
        display: inline

.resume-info
    border-collapse: collapse
    
    tr
        border-bottom: 1pt solid #dee2e640

    td
        padding: 15px

    td.value-col
        font-weight: bold

.tech-stack
    display: block
    > img
        height: 25px
        width: auto
        display: inline
        margin-right: 5px
